/* logo styling */
.navbar-brand {
    font-family: 'Lobster', cursive;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 30pt;
    padding-left:1em;
    margin-right: 50px;
    background: -webkit-linear-gradient(#A50, #A0E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

hr {
    background-color: white;
    border: 1;
    margin-left:5em;
}

/*text for the profile section in feed.html */
.profile {
    color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1px;
    font-size: 15pt;
    border: 1px solid white;
    padding: 0.5em;
    background: #72BCD2;    
}

div.card-body2 {
	background-color: #72BCD2;
	padding: 0.5em;
}

h3.card-title {
	color: #66625A;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1px;
    padding: 0.5em;
}

li.list-group-item {
	color: #66625A;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1px;
    padding: 0.5em;
}

/* text for registeration/login */
.reg-text {
    color: #66625A;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1px;
    padding: 0.5em;
}

div.col-sm-4 {
  border: 2px solid white;
  background: white;
  
}

img.logo:hover {
    cursor: default;
    transform: rotate(360deg);
    transition: all 0.3s ease-in-out 0s;
}

.header-text {
    font-family: 'Lobster', cursive;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 60pt;
    color: #72BCD2;
}

/*background color */
body {
    background: #edf0f5;
    display:inline-flex;
}

.nav-link {
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 20pt;
    padding-left:1em;
    margin-right: 50px;
}

form textarea,
form input {
    font-size: 16pt;
    max-height: 50px;
    width: 300px;
}

form label {
    font-size: 16pt;
    font-weight: 200;
    min-width: 100px;
    vertical-align: top;
}
button.btn-lg {
    font-size: 16pt;
}

/* side bar styling */
.nav-container{
    top:0;
    min-height:100vh;
    height:auto;
    background: #72BCD2 !important;
    width:550px;

}

.brand-contain {
    width:100%;
    display:block;
}

.navlinks {
    display:block;
    font-size:1.25em;
    font-weight: 400;
    font-family: 'Anton', sans-serif;
    font-size: 20pt;   
    padding-left: 0em;
    margin-right: 50px; 
}

/* color of the username on the side bar */
.navlinks a {
    color: #fff;
}

.navlinks:hover {
    transform: translateY(-3px);
    color:lightgrey;
    transition: 0.5s ease-in-out;
    
}

.nav-brand {
    font-family: Kalam;
 }


