.navbar-brand {
    font-family: 'Lobster', cursive;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 24pt;
    padding-left:1em;
    margin-right: 50px;
}

body {
    background: #edf0f5;
    display:inline-flex;
}

.nav-link {
    font-family: 'Anton', sans-serif;
    font-size: 16pt;
}

form textarea,
form input {
    font-size: 16pt;
    max-height: 50px;
    width: 300px;
}

form label {
    font-size: 16pt;
    font-weight: 200;
    min-width: 100px;
    vertical-align: top;
}
button.btn-lg {
    font-size: 16pt;
}

.nav-container{
    top:0;
    min-height:100vh;
    height:auto;
    background: #BDDBBD !important;
    width:550px;

}

.brand-contain {
    width:100%;
    display:block;
}

.navlinks {
    display:block;
    font-size:1.25em;
    font-weight:400;
}

.navlinks a {
    color: #ffffff;
}

.navlinks:hover {
    transform: translateY(-3px);
    color:lightgrey;
    transition: 0.5s ease-in-out;
    
}

.nav-brand {

    font-family: Kalam;
    
 }


