/* logo styling */
.navbar-brand {
    font-family: 'Lobster', cursive;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 24pt;
    padding-left:1em;
    margin-right: 50px;
    background: -webkit-linear-gradient(#A50, #A0E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*background color */
body {
    background: #edf0f5;
    display:inline-flex;
}

.nav-link {
    color: #white;
    font-family: 'Anton', sans-serif;
    font-size: 16pt;
    padding-left:1em;
    margin-right: 50px;
}

form textarea,
form input {
    font-size: 16pt;
    max-height: 50px;
    width: 300px;
}

form label {
    font-size: 16pt;
    font-weight: 200;
    min-width: 100px;
    vertical-align: top;
}
button.btn-lg {
    font-size: 16pt;
}

/* side bar styling */
.nav-container{
    top:0;
    min-height:100vh;
    height:auto;
    background: #72BCD2 !important;
    width:550px;

}

.brand-contain {
    width:100%;
    display:block;
}

.navlinks {
    display:block;
    font-size:1.25em;
    font-weight: 400;
    font-family: 'Anton', sans-serif;
    font-size: 16pt;   
    padding-left: 1em;
    margin-right: 50px; 
}

/* color of the username on the side bar */
.navlinks a {
    color: #fff;
}

.navlinks:hover {
    transform: translateY(-3px);
    color:lightgrey;
    transition: 0.5s ease-in-out;
    
}

.nav-brand {

    font-family: Kalam;
    
 }


