{% extends "base.html" %}

{% block title %}{{ username }} - Piktograf Feed{% endblock %}

{% block content %}

<h1>Welcome {{ username }}</h1>
<br />
<br />




<div class="row">
    <div class="col-sm-4">
        <h2>Profile</h2>
        <p><strong>First name:</strong> {{ first_name }}</p>
        <p><strong>Last name:</strong> {{ last_name }}</p>
        <p><strong>Email:</strong> {{ email }}</p>
    </div>

<!-- This is the upload form from the API -->

    <div class="col">
      <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit"/>
      </form>

      {% if posts %}
      {% for post in posts %}

<!-- This is where it should load the gallery -->

      <div class="row">
            <div class="col-md-1">

              </div>
             <div class="col-md-4">
              <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0" width="200" src="{{ post.photo.cdn_url }}-/crop/600x600/center/-/quality/lightest/" alt="">
              </a>
            </div>
            <div class="col-md-7">
              <p>{{ post.title }}</p>
              <p>{{ post.caption }}</p>
              <a class="btn btn-primary" href="#">Like</a>
              <a class="btn btn-primary" href="#">Comment</a>
            </div>
          </div>
        <!-- /.row -->

          <hr>
      {% endfor %}
      {% endif %}

    </div>
</div>




{% endblock content %}
