{% extends "base.html" %}

{% block title %}{{ username }} - Picasso Feed{% endblock %}

{% block content %}

<h1>Welcome {{ username }}</h1>
<br />
<br />




<div class="row">
    <div class="col-sm-4">
        <h2>Profile</h2>
        <p><strong>First name:</strong> {{ first_name }}</p>
        <p><strong>Last name:</strong> {{ last_name }}</p>
        <p><strong>Email:</strong> {{ email }}</p>
    </div>
    <div class="col">
        <h2>{{ first_name }}'s Wall</h2>

        <h5>Write on {{ first_name }}'s wall</h5>
        <form action="." method="POST">
            {% csrf_token %}
            {{ form.text }}
            <button class="btn btn-success">Write</button>
        </form>
        <div class="row">
            {% for post in posts %}
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-text">{{ post.text }}</h2>

                            <hr />
                            <h5>Update</h5>
                            <form action="/update-post/{{ post.id }}/" method="POST">
                                {% csrf_token %}
                                <p>Update text: <textarea name="text"></textarea>
                                <button class="btn btn-info">Update</button></p>
                            </form>
                            <p><a class="btn btn-danger" href="/delete-post/{{ post.id }}/">Delete</a></p>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>No posts to show.</p>
            {% endfor %}
        </div>
    </div>
</div>




{% endblock content %}
