{% extends "base.html" %}

{% block title %}{{ username }} - Picasso Feed{% endblock %}

{% block content %}

<h1>Welcome {{ username }}</h1>
<br />
<br />




<div class="row">
    <div class="col-sm-4">
        <h2>Profile</h2>
        <p><strong>First name:</strong> {{ first_name }}</p>
        <p><strong>Last name:</strong> {{ last_name }}</p>
        <p><strong>Email:</strong> {{ email }}</p>
    </div>
    <div class="col">
      <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Save"/>
      </form>
      {% if posts %}
      {% for post in posts %}
      <div class="col-md-4">
        <img class="img-fluid" src="{{ post.photo.cdn_url }}-/crop/600x600/center/-/quality/lightest/" alt="">
      </div>
      {% endfor %}
      {% endif %}

    </div>
</div>




{% endblock content %}
